.artist-list {
  list-style: none;
  padding: 60px 40px;
  margin: 0;
}

.artist-item {
  padding: 0 0;
}

.artist-name {
  font-size: 8rem;
  font-weight: 900;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: opacity 0.3s ease;
  color: #451902;
}

.artist-name:hover {
  color: #f2b64e;
}

.artist-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;

  display: flex;
  justify-content: center; /* centrerer card */
}

.artist-content > * {
  margin-top: 20px;
}

body {
  background-color: #fdeedf;
}
