---

import Header from "../header.astro";
import Footer from "../footer.astro";
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <title>Høst Møn</title>
  </head>

  <body>


    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>